<!DOCTYPE html>
<html ng-app="myLetter">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Take a Note and tag it</title>
<link rel="stylesheet"
href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!--<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js"
	type="text/javascript"></script> -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>


	<!-- <script src="js/angular.min.js" type="text/javascript" /> -->
	<head>

	</head>
	<body>

		<div class="container">
			<br> <br> <br>
		</div>
		<div ng-controller="letterController">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<form id="sender" class="form-signin" role="form" action="">
							<h2 class="form-signin-heading">Absender</h2>
							<input type="text" ng-model="sender.firstName"
							class="form-control" placeholder="Vorname" required autofocus/><br />
							<input type="text" class="form-control" ng-model="sender.lastName"
							placeholder="Nachname" required/><br/> 
							<input
							type="text" class="form-control" ng-model="sender.street"
							placeholder="Strasse" required/><br />

							<div class="row">
								<div class="col-xs-8 col-sm-3">
									<input type="text" class="form-control"
									placeholder="Postleitzahl" ng-model="sender.plz" required>
								</div>
								<div class="col-xs-4 col-sm-9	">
									<input type="text" class="form-control"
									ng-model="sender.location" placeholder="Ort" required>
								</div>
							</div>
							<BR/> <BR/>
						</form>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<form id="receiver" class="form-signin" role="form" action="">
							<h2 class="form-signin-heading">Empfänger</h2>
							<input type="text" ng-model="receiver.firstName"
							class="form-control" placeholder="Vorname" required autofocus><br />
							<input type="text" class="form-control"
							ng-model="receiver.lastName" placeholder="Nachname" required><br>
							<input type="text" class="form-control" ng-model="receiver.street"
							placeholder="Strasse" required><br />

							<div class="row">
								<div class="col-xs-8 col-sm-3">
									<input type="text" class="form-control"
									placeholder="Postleitzahl" ng-model="receiver.plz" required>
								</div>
								<div class="col-xs-4 col-sm-9	">
									<input type="text" class="form-control"
									ng-model="receiver.location" placeholder="Ort" required>
								</div>
							</div>
							<BR> <BR>
							</form>
						</div>
					</div>

					<div class="row">
						<div class="col-md-9">
							<form id="topic" class="form-signin" role="form" action="">
								<h2 class="form-signin-heading">Betreff</h2>
								<input type="text" ng-model="letter.topic" class="form-control"
								placeholder="Betreff" required autofocus><br />

							</form>
						</div>
					</div>

					<div class="row">
						<div class="col-md-9">
							<h2 class="form-signin-heading">Anrede</h2>
							<select ng-model="letter.salutation" class="form-control"
							placeholder="bitte auswählen"
							ng-options="salutation.value for color in colors"></select><br>
						</div>
					</div>

					<div class="row">
						<div class="col-md-9">
							<h2 class="form-signin-heading">Text</h2>
							<textarea rows="15" ng-model="letter.text"
							placeholder="Bitte geben Sie ihren Text hier ein."
							class="form-control"></textarea>
						</div>

					</div>
					<BR> <BR>
						<!-- 			<div class="container"> -->
						<div class="row">
							<div class="col-md-1">
								<button class="btn btn-lg btn-primary btn-block"
								ng-click="showPDFWaterSign()">OK</button>
							</div>


						</div>
						<!-- 			</div> -->

					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/letterControler.js"></script>
	</html>
